<?xml version="1.0" encoding="utf-8"?>
<module>
<name>System Files</name>
<version>102</version>
<defaultcat>admin</defaultcat>
<desc>Easily edit selected Sentora system files</desc>
<type>Admin</type>
<authorname>baldman</authorname>
<authoremail>buznbox@gmail.com</authoremail>
<authorurl>http://zppy.info.tm/</authorurl>
<updateurl>http://zppy.info.tm/system_files.zpp</updateurl>
</module>